.anime {
  margin-top: 10%;
  margin-left: 40%;
}
.t1 {
  font-size: 2rem;
  font-weight: 700;

  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  align-items: center;
  height: 10vh;
  padding-right: 8rem;
}
.logged {
  display: flex;
}
h1 {
  margin-right: 10px;
}
.login-btn {
  border-radius: 5px;
  margin-top: 10px;
  font-weight: 700;
  border: 3px solid orange;
}
.s1 {
  color: rgba(255, 184, 0, 1);
}
.lo-1 {
  display: flex;
  gap: 6rem;
  font-size: 1.5rem;
}
.qu {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 3rem;
  text-align: center;
}
.wel {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 7rem;
  text-align: center;
}
.inp2 {
  border: solid 2px rgba(255, 184, 0, 1);
  width: 19rem;
  height: 2rem;
  margin-left: 28rem;
  margin-top: 3rem;
  padding-left: 1rem;
  background-image: url("./asserts/search.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: contain;
  background-size: 30px 30px;
}
.inp2:focus {
  outline: none;
}
.loading-message {
  opacity: 1;
  animation: fade-out 1s forwards;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.logged {
  font-size: 0.5rem;
}
