.container1 {
  background-color: rgb(139, 122, 122);
  width: 100%;
  height: 90px;
  display: flex;
}
.text {
  font-size: 25px;
  font-weight: 700;
  padding-top: 1.7%;
  padding-left: 3%;
}
.span1 {
  color: rgba(255, 184, 0, 1);
}
.inp-1 {
  border: none;
  width: 180%;
  height: 40px;
  margin-left: 350%;
  margin-top: 13%;
  border: none;
  padding-left: 8%;
}
.inp-1:focus {
  outline: none;
}
